
/* FAQ CSS Start */
.faq_list a.faq_title:hover {text-decoration: none;}
.faq_section{margin: 50px 0;}
.faq_list a{cursor: pointer;}
.faq_list p { margin-bottom: 0px; padding: 0 20px 10px 30px; color: #757575;}
.faq_list .card.faq_card {box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12); margin: 15px 0; border: 0; border-radius: 0; }
.faq_list .card-header.faq_header { padding: 18px; padding-right: 40px; border-bottom: none; background: transparent; }
.faq_list a.faq_title { color: #292929 !important; background: transparent; padding: 0; font-weight: 500; }
.faq_list .faq_title { word-break: break-word; width: 100%; white-space: normal; }
.faq_list a.faq_title:focus { box-shadow: none; }
.faq_list .faq_ans { padding: 0 10px 10px 10px !important; }
.faq_list .card-header a::before { float: right; font-family: FontAwesome; content: "\f068"; position: absolute; right: 20px;}
.faq_list .card-header a.collapsed::before { content: "\f067"; }
/* FAQ CSS End */
